<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Caesar Cipher</title>
		<meta name="viewport" content="width=device-width" initial-scale="1.0">
		<link type="text/css" rel="stylesheet" href="stylesheets/css_reset.css">
		<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300, 500" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Caesar Cipher</h1>
		</header>
		<main>
			<form>
				Text field<input type="text" name="string">
				Shift number<input type="number" name="number" value="0">
				<input type="submit" value="submit">
			</form>
			<p><%= result %></p>
		</main>
		<footer>
			<a href="https://github.com/Westw00d">Github | </a>
			<a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/sinatra-project">The Odin Project</a>
		</footer>
	</body>
</html>